.main-page{
    margin: 0 auto;
    width: 1600px;
}


.header{
    height: 75px;
    background-color: #222222;
    display: flex;
    align-items: center;
}

.logosearch{
    margin-left: 231px;
}

.search{
    padding-left: 41px;
}

.nav{
    margin-left: 859px;
}

.nav__link{
    padding-right: 33px;
}

.preview{
   height: 764px;
   background-color: #F1E4E6;
   display: flex;
   align-items: center;
   
}

.name-of-shop{
    min-width: 377px;
    min-height: 93px;
    color: #222222;
    padding-left: 16px;
}

.border{
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}
.text-pink{
    color: #F16D7F;
    padding-left: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.brand{
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-family: Lato;
}

p{
    margin: 0 auto;
    float: left;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;

}
.offer{
    width: 1140px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
    

}

.offer__women{
    width: 360px;
    height: 260px;
    position: relative;
   
    
}

.offer__men{
    width: 360px;
    height: 260px;
    position: relative;
    
    
}

.offer__kids{
    width: 360px;
    height: 260px;
    position: relative;
    
    
}

.offer__accesories{
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    position: relative;
   
}

.filter{
    z-index: 1;
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    width: 360px;
    height: 260px;
}
.filter__accesories{
    z-index: 1;
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    width: 1140px;
    height: 180px;
}

.one-lvl{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.two-lvl{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #F16D7F;
}
.opisanie {
    position: absolute;
    z-index: 2;
    top: 102px;
    left: 105px;
    display: flex;
    flex-direction: column;
}

.opisanie__accesories{
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 491px;
    display: flex;
    flex-direction: column;
}