@import url(../font/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato;
}

input {
    outline: none;
}

.main-page {
    margin: 0 auto; 
    width: 1600px;
} 

a {
    text-decoration: none;
}

.animation {
    transition-duration: 0.2s;
}

.animation:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.4s;
}


.page-navbar {
    display: flex;
    background-color: #222222;
    width: 100%;
    justify-content: space-between;
    height: 75px;
}


.left-nav {
    display: flex;
    align-items: flex-end;
    padding: 18px 0px 19px 231px;
}

.form-search {
    display: flex;
}

.left-link {
    color: #e8e8e8;
    padding-left: 41px;
    margin-top: 10px;
    display: flex;
}

.search-input {
    width: 0;
    opacity: 0;
    border: 3px solid #e8e8e8;
    background: #222222;
    padding: 4px 0;
    transition: all 0.4s;
    color: #e8e8e8;
}

.search-input:focus {
    width: 200px;
    opacity: 1;
    margin-left: 40px;
}

.btn-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-input,
.search-input:active,
.search-input:focus {
    outline: none;
}

.right-nav {
    display: flex;
    padding: 26px 240px 20px 0px;
    color: white;
}

.menu {
    padding-top: 5px;
}

.label-search {
    margin-left: 41px;
}

.account-btn {
    border: none;
    background-color: transparent;
    margin: 0 33px 0 33px;
}

.cart-btn {
    border: none;
    background-color: transparent;
}

.preview {
   height: 764px;
   background-color: #F1E4E6;
   display: flex;
   align-items: center;
}

.name-of-shop {
    min-width: 377px;
    min-height: 93px;
    color: #222222;
    padding-left: 16px;
}

.border {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
}

.text-pink {
    color: #F16D7F;
    padding-left: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.brand { 
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-family: Lato;
    text-transform: uppercase;
}

p {
    margin: 0 auto;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    
}

.offer {
    width: 1140px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

.offer__women {
    width: 360px;
    height: 260px;
    position: relative;
}

.offer__men {
    width: 360px;
    height: 260px;
    position: relative;
}

.offer__kids {
    width: 360px;
    height: 260px;
    position: relative;
}

.offer__accesories {
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    position: relative;
}

.filter {
    z-index: 1;
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    width: 360px;
    height: 260px;
}

.filter__accesories {
    z-index: 1; 
    position: absolute;
    background: rgba(33, 22, 22, 0.7);
    width: 1140px;
    height: 180px;
}

.one-lvl {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.two-lvl {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #F16D7F;
}
.description {
    position: absolute;
    z-index: 2;
    top: 102px;
    left: 105px;
    display: flex;
    flex-direction: column;
}

.description__accesories {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 491px;
    display: flex;
    flex-direction: column;
}

.products {
    width: 1140px;
    height: 1395px;
    margin: 96px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px
}

.heading-title {
    min-width: 182px;
    height: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color:#222222;
}

.heading-subtitle {
    min-width: 336px;
    height: 17px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color:#9F9F9F;
    margin-top: 6px;
}

.products-items {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.products_new_arrivals-items {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.products-items:nth-child(5) {
    margin: 0;
}

.products-items:nth-child(6) {
    margin: 0;
}

.products-items:nth-child(7)  {
    margin: 0;
}


.products_new_arrivals-items:nth-child(8) {
    margin: 0;
}

.products_new_arrivals-items:nth-child(9) {
    margin: 0;
}

.products_new_arrivals-items:nth-child(10) {
    margin: 0;
}

.product-img {
    width: 360px;
    height: 420px;
}

.product-heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15.6px;
    line-height: 13px;
    color:black;
    padding-left: 18px;
    text-transform: uppercase;
}

.product-desc {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #5d5d5d;
    padding-left:16px;
    width: 314.74px;
    height: 51px;
}

.product-price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19,2px;
    color: #F16D7F;
    padding-left: 18.41px;
    padding-bottom: 20px;
}

.product-all {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    display: flex;
    justify-content: center;
    margin: 48.5px auto 95px auto;
    outline: none;
    background: none;
    color: #F26376;
}

.product-all:hover { 
    background-color: #F16D7F;
    color: #FFFFFF; 
}
    
.product-all__txt {
    text-align: center;
    margin-top: 14.5px;
}


.products-items:hover .product-img {
    filter: brightness(45%);
    transition: all 0.7s;
}

.add-to-cart {
    transition: all 0.7s;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    margin: 188px 111px;
    padding: 11px 14px 8px 13px;
    color:#e8e8e8;
}

.add-to-cart,
.add-to-cart:active,
.add-to-cart:focus {
    outline: none;
}

.add-to-cart-txt {
    margin-left:11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16,8px;
    width: 72px;
    height: 17px;
    top: -5px;
    position: relative
}

.products-items:hover .add-to-cart {
    display: block;
}

.product-img {
    width: 360px;
    height: 420px;
}

.product-heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15.6px;
    line-height: 13px;
    color: black;
    padding-left: 18px;
}


.product-price {
    font-family: Lato;
    font-weight: normal;
    font-size: 16px;
    line-height: 19,2px;
    color: #F16D7F;
    padding-left: 18.41px;
    padding-bottom: 20px;
}

.product-all {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    display: flex;
    justify-content: center;
    margin: 48.5px auto 95px auto;
    outline: none;
    background: none;
    color: #F26376;
}

.product-all:hover { 
    background-color: #F16D7F;
    color: #FFFFFF; 
}
    
.product-all__txt {
    text-align: center;
    margin-top: 14.5px;
}

.products_new_arrivals-items:hover .product-img {
    filter: brightness(45%);
    transition: all 0.7s;
}

.add-to-cart {
    transition: all 0.7s;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: absolute;
    border: 1px solid #e8e8e8;
    margin: 188px 111px;
    padding: 11px 14px 8px 13px;
    color:#e8e8e8;
}

.add-to-cart,
.add-to-cart:active,
.add-to-cart:focus {
    outline: none;
}

.add-to-cart-txt {
    margin-left:11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16,8px;
    width: 72px;
    height: 17px;
    top: -5px;
    position: relative
}

.products_new_arrivals-items:hover .add-to-cart {
        display: block;
}

.feature {
    display: flex;
    justify-content: space-between;
    background-color:#222224;
    padding: 103px 230px;
}

.feature__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feature__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: 20px;
}

.feature__subheading {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    width: 320px;
}

.frame {
    min-width: 1140px;
    height: 448px;
    padding: 0 calc(50% - 570px);
    background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/Layer41.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-info {
    width: 359.45px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.subscribe-text {
    font-size: 20px;
    text-align: center;
    color: #222224;
    width: 360px;
}

.subscribe-email {
    width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    color: #222224;
    text-align: center;
    margin-bottom: 32px;
}

.subscribe-form {
    box-sizing: border-box;
}

.subcribe-text {
    padding: 7px 60px 7px 40px;
    border-radius: 40px 0 0 40px;
    border: none;
    background: #E1E1E1;
    height: 49px;
}

.Subscribe-button {
    height: 49px;
    padding: 7px 20px 7px 25px;
    border-radius: 0 40px 40px 0;
    border: none;
    background: #F16D7F;
    color: white;
    margin-left: -5px;
    cursor: pointer;
}

.footer-main {
    min-width: 1140px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    background: #222224;
    padding: 24px calc(50% - 570px);
    align-items: center;
}
.copy {
    font-size: 16px;
    color: #FBFBFB;
}
.social-icon {
    display: flex;
    justify-content: space-between;
    width: 148px;
}
.icon {
    color: #000;
    height: 32px;
    width: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover { 
    background-color: #F16D7F;
    color: #FFFFFF; 
}

.header-catalog {
    background-color: #F8F3F4;
    width: 1600px;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 230px;
    background: #F8F3F4;
}

.catalog__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-transform: uppercase;
}
  
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color:#636363;
    content: "/\00a0";
}
  
ul.breadcrumb li a {
    color: #636363;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #F16D7F;
}

ul.breadcrumb li a:focus {
    color: #F16D7F;
}

.filter_products {
    box-sizing: border-box;
    padding: 51px 0 34px 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.filter-btn {
    padding: 0;
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
}

.filter-btn:hover .filter-btn-txt, .filter-btn-svg:hover {
    fill: #EF5B70;
    color: #EF5B70;
}

.filter-btn:hover .filter-btn-svg, .filter-btn-txt:hover {
    fill: #EF5B70;
    color: #EF5B70;
}

.filter-btn:active .filter-btn-txt, .filter-btn-svg:active {
    color: brown;
    fill: brown;
}

.filter-btn:active .filter-btn-svg, .filter-btn-txt:active {
    color: brown;
    fill: brown;
}

.filter-btn-txt {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: uppercase;
}

.filter-btn-svg {
    fill: #000;
    margin-left: 11px;
}

.filter-form {
    margin-left: 320px;
}

.filter-form select {
    margin-right: 28px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #6F6E6E;
    text-transform: uppercase;  
}

.catalog-products {
    min-height: 1803px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-slider {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48.5px;
}

.catalog-slider ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    border: 1px solid #EBEBEB;
    padding: 12px 15px;
}

.slider-list {
    margin: 0 6px;
}

.slider-link {
    text-decoration: none;
    color: #222;
}

.slider-link:hover {
    color: #EF5B70;
}

.slider-link:active {
    color: brown;
}

.slider-link-svg:hover {
    fill: #EF5B70;
}

.slider-link-svg:active {
    fill: brown;
}

.products_new_arrivals {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products_new_arrivals_product {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 128px;
}
    
.catalog-slider {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 96px 0;
    width: 100%;
}

.catalog-slider ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    border: 1px solid #EBEBEB;
    padding: 12px 15px;
}

.slider-list {
    margin: 0 6px;
}

.slider-link {
    text-decoration: none;
    color: #222;
}

.slider-link:hover {
    color: #EF5B70;
}

.slider-link:active {
    color: brown;
}

.slider-link-svg:hover {
    fill: #EF5B70;
}

.slider-link-svg:active {
    fill: brown;
}




.padding-site {
    padding: 0 230px 0 230px;
}


.product-slider {
    min-height: 777px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F7F7;
    box-sizing: border-box;
}

.arrow {
    border: none;
    background: rgba(42, 42, 42, 0.15); 
    width: 47px;
    height: 47px;
}
.arrow:hover .arrow-svg {
    fill: #F16D7F;
}
.product-img-slider{
    width: 597px;
    height: 724px;
}

.product-desc-slider {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 629px;
}
.product-desc-wrp {
    width: 1140px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -65px;
    z-index: 1;
    background: #FFFFFF;
}
.product-desc-content {
    box-sizing: border-box;
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subsection {
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    position: relative;
    margin-top: 60px;
    text-align: center; 
}
.subsection:after {
    content: url(../img/border-bottom.png);
    position: absolute;
    top: 12px;
    left: 245px;
}
.desc-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 27px 0 48px 0; 
}
.desc-p {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
}
.product-price-slider {
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top:32px;
    padding-bottom: 65px;
    border-bottom: 1px solid #EAEAEA;
}
.product-form {
    width: 100%;
    text-align: center;
    margin-top: 65px;
}
.product-form select {
    background-color: transparent;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}
.product-form select:nth-child(2) {
    margin: 0 23px;
}
.product-btn {
    background: transparent;
    border: 1px solid #FF6A6A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    margin: 50px 0 65px 0; 
    width: 211px;
    height: 47px;
}
.product-btn-svg {
    fill: #F26376;
    margin: 0px 0 0 18px;
}
.product-btn-txt {
    padding-right: 55px;
}
.product-btn:hover {
    background-color: gray;
    color: #fbfbfb;
}
.product-btn:hover .product-btn-svg {
    fill:#fbfbfb;
}
.product-btn:active {
    background-color: brown;
    color: #fbfbfb;
}
.product-btn:active .product-btn-svg {
    fill:#fbfbfb;
}


.header-cart {
    background-color: #F8F3F4;
    width: 1600px;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 230px;
    background: #F8F3F4;
}


.cart {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 96px 0 128px 0;
}
.item {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    width: 652px;
    height: 306px;
}
.item:nth-child(2) {
    margin: 40px 0 72px 0;
}
.item-desc {
    display: flex;
    flex-direction: column;
    width: 262px;
    margin: 22px 57px 0 31px;
}
.item-option {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin: 3px 0;
    text-transform: capitalize;
}
.item-option:first-child {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
.item-option:nth-child(2) span {
    color: #F16D7F;
}
.item-option:last-child {
    display: flex;
}
.item-option:last-child span {
    display: flex;
    margin-left: 40px;
    border: 1px solid #EAEAEA;
    width: 43px;
    height: 24px;
    justify-content: center;
}
.item-btn-del {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 18px;
    height: 18px;
    margin: 28px 22px 0 0;
    border: none;
    background-color: transparent;   
}
.item-btn-del:hover .btn-del-svg {
    fill: #F16D7F;
}
.item-btn-del:active .btn-del-svg {
    fill: brown;
}
.item-btn-del:focus {
    outline: none;
}
.cart-items-btns {
    display: flex;
    justify-content: space-between;
}
.item-btn {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    background-color: transparent;
    padding: 16px 39px;
}
.item-btn:hover {
    background-color: black;
    color: #fbfbfb;
}
.item-btn:active {
    background-color: #F16D7F;
    color: #fbfbfb;
}
.item-btn:focus {
    outline: 1px solid #F16D7F;
}
.cart-buy {
    box-sizing: border-box;
    min-height: 774px; 
    width: 360px;
}
.cart-buy-form {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.form-input {
    display: flex;
    flex-wrap: wrap;
}
.form-input-title {
    width: 100%; 
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.form-input-txt {
    text-transform: capitalize;
    margin: 10px 0;
    width: 100%;
    height: 45px;
    outline: none;
    padding-left: 16px;
}
.form-input-txt:focus {
    outline: 1px solid #F16D7F;
}
.form-input-txt:placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #222;
}
.cart-buy-btn {
    margin: 13px 0 55px 0;
    padding: 9.5px 14px 11.5px 15px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    background-color: transparent;
}
.cart-buy-btn:hover {
    background-color: gray;
    color: #fbfbfb;
}
.cart-buy-btn:active {
    background-color: #F16D7F;
    color: #fbfbfb;
}
.cart-buy-btn:focus {
    outline: 1px solid #F16D7F;
}
.cart-buy-total {
    box-sizing: border-box;
    background-color: #F5F3F3;
    padding: 39px 34px 42px 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subtotal-txt {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
}
.subtotal-txt span {
    margin-left: 25px;
}
.total-txt {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A;
    text-align: right;
    text-transform: uppercase;
    border-bottom: 1px solid #E2E2E2;
    margin-top: 12px;
    padding-bottom: 21px;
}
.total-txt span{
    margin-left: 25px;
    color: #F16D7F;
}
.buy-total-btn {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 273px;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #F16D7F;
    text-transform: uppercase;
    border: none;
}
.buy-total-btn:hover {
    background-color: gray;
}
.buy-total-btn:active {
    background-color: brown;
}
.buy-total-btn:focus {
    outline: 1px solid black;
}


.registration {
    padding: 65px 230px 96px 230px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.registration-form {
    box-sizing: border-box;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
}
.registration-form-txt {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222;
    text-transform: capitalize;
}
.first {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 0 0 17px;
    height: 45px;
    box-sizing: border-box;
}
.first:focus {
    outline: 1px solid #F16D7F; 
}
.first::placeholder {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}
.radio-form {
    margin: 35px 0;
    display: flex;
    width: 132px;
    justify-content: space-between;
}
.sex {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-transform: capitalize;
    margin: 6px 0 0 10px;
}
#radio-btn,
#radio-btn2 {
    width: 17px;
    height: 17px;
}
#radio-btn,
#radio-btn2:focus {
    outline: none;
}

.registration-p {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top:15px;
}

.submit-btn {
    margin-top: 25px;
    padding: 15px 65px 15px 30px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #F16D7F;
    text-transform: uppercase;
    background-image: url(../img/reg-arrow-1.svg), 
                      url(../img/reg-arrow-2.svg);
    background-repeat: no-repeat;
    background-position: 120px center, 131px center;
    border: none;
}
.submit-btn:hover {
    background-color: black;
}
.submit-btn:active {
    background-color: brown;
}
.submit-btn:focus {
    outline: 1px solid black;
}
.registration-info {
    width: 650px;
    box-sizing: border-box;
}
.registration-info-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}
.registration-info-p{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    list-style-type: none; 
    padding-top: 21px;
    padding-bottom: 21px;
}
.registration-info-offer {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    list-style-type: none;
}
.registration-info-list {
    margin-bottom: 16px;
    list-style-image: url(../img/check.png);
    margin-left: 30px;
}



@media(max-width:768px) {
    .padding-site {
        padding: 0;
    }
    .main-page {
        margin: 0 auto; 
        width: 768px;
    }
    .page-navbar {
        display: flex;
        background-color: #222222;
        width: 768px;
        height: 75px;
    }
    
    
    .left-nav {
        display: flex;
        align-items: flex-end;
        padding: 18px 0px 19px 33px;
    }
    
    .form-search {
        display: flex;
    }
    
    .left-link {
        color: #e8e8e8;
        padding-left: 41px;
        margin-top: 10px;
        display: flex;
    }
    
    .search-input {
        width: 0;
        opacity: 0;
        border: 3px solid #e8e8e8;
        background: #222222;
        padding: 4px 0;
        transition: all 0.4s;
        color: #e8e8e8;
    }
    
    .search-input:focus {
        width: 200px;
        opacity: 1;
        margin-left: 40px;
    }
    
    .btn-search {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .search-input,
    .search-input:active,
    .search-input:focus {
        outline: none;
    }
    
    .right-nav {
        display: flex;
        padding: 26px 90px 20px 0px;
        color: white;
    }
    
    .menu {
        padding-top: 5px;
    }
    
    .label-search {
        margin-left: 41px;
    }
    
    .account-btn {
        border: none;
        background-color: transparent;
        margin: 0 33px 0 33px;
    }
    
    .cart-btn {
        border: none;
        background-color: transparent;
    }
    .preview{
        width: 768px;
        height: 367px;
    }

    .preview-img{
        width: 386px;
        height: 368px;
    }
    .name-of-shop {
        min-width: 283px;
        min-height: 78px;
        color: #222222;
        padding-left: 16px;
        text-transform: uppercase;
        
    }
    
    .border {
        width: 12px;
        height: 92px;
        background-color: #F16D7F;
    }
    
    .text-pink {
        color: #F16D7F;
        padding-left: 5px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        
    }
    
    .brand { 
        margin: 0 auto;
        font-size: 44px;
        font-style: normal;
        font-family: Lato;
        
    }
    p {
        margin: 0 auto;
        float: left;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }
    .offer {
        width: 736px;
        height: 303px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    
    .offer__women {
        width: 232px;
        height: 167px;
        position: relative;
        
    }
    
    .offer__men {
        width: 232px;
        height: 167px;
        position: relative;
    }
    
    .offer__kids {
        width: 232px;
        height: 167px;
        position: relative;
    }
    
    .offer__accesories {
        width: 734px;
        height: 116px;
        /* margin-top: 20px; */
        position: relative;
    }
    .offer-img-mini{
        width: 232px;
     
    }
    .offer-img-big{
        width: 720px;
        /* height: 116px; */
    }
    .filter {
        z-index: 1;
        position: absolute;
        background: rgba(33, 22, 22, 0.7);
        width: 232px;
        height: 167px;
    }
    
    .filter__accesories {
        z-index: 1; 
        position: absolute;
        background: rgba(33, 22, 22, 0.7);
        width: 734px;
        height: 116px;
    }
    
    .one-lvl {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .two-lvl {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 19px;
        text-align: center;
        color: #F16D7F;
    }
    .description {
        position: absolute;
        z-index: 2;
        top: 59px;
        left: 72px;
    }
    
    .description__accesories {
        position: absolute;
        z-index: 2;
        top: 33px;
        left: 300px;
        display: flex;
        flex-direction: column;
    }
    
    .products {
        width: 768px;
        min-height: 2200px;
        margin: 96px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 154px 15px 65px 18px;
        margin: 0 auto;
    }
    
    .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 73px;
    }
    
    .heading-title {
        min-width: 182px;
        height: 36px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color:#222222;
    }
    
    .heading-subtitle {
        min-width: 336px;
        height: 17px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16.8px;
        color:#9F9F9F;
        margin-top: 6px;
    }
    
    .products-items {
        width: 360px;
        /* height: 420px; */
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .products_new_arrivals-items {
        width: 360px;
        height: 581px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .products-items:nth-child(5) {
        margin: 0;
    }
    
    .products-items:nth-child(6) {
        margin: 0;
    }
    
    .products-items:nth-child(7)  {
        margin: 0;
    }
    
    
    .products_new_arrivals-items:nth-child(8) {
        margin: 0;
    }
    
    .products_new_arrivals-items:nth-child(9) {
        margin: 0;
    }
    
    .products_new_arrivals-items:nth-child(10) {
        margin: 0;
    }
    
    .product-img {
        width: 360px;
        height: 420px;
    }
    
    .product-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15.6px;
        line-height: 13px;
        color:black;
        padding-left: 18px;
        text-transform: uppercase;
        margin-top: 12px;
    }
    
    .product-desc {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.8px;
        color: #5d5d5d;
        padding-left:16.46px;
        width: 314.74px;
        height: 51px;
        margin-top: 12px;
        margin-bottom: 18px;
    }
    
    .product-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19,2px;
        color: #F16D7F;
        padding-left: 18.41px;
        padding-bottom: 20px;
    }
    
    .product-all {
        width: 211px;
        height: 47px;
        border: 1px solid #FF6A6A;
        display: flex;
        justify-content: center;
        margin: 48.5px auto 95px auto;
        outline: none;
        background: none;
        color: #F26376;
    }
    
    .product-all:hover { 
        background-color: #F16D7F;
        color: #FFFFFF; 
    }
        
    .product-all__txt {
        text-align: center;
        margin-top: 14.5px;
        text-align: center;
    }
    
    
    .products-items:hover .product-img {
        filter: brightness(45%);
        transition: all 0.7s;
    }
    
    .add-to-cart {
        transition: all 0.7s;
        display: none;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        position: absolute;
        border: 1px solid #e8e8e8;
        margin: 188px 111px;
        padding: 11px 14px 8px 13px;
        color:#e8e8e8;
    }
    
    .add-to-cart,
    .add-to-cart:active,
    .add-to-cart:focus {
        outline: none;
    }
    
    .add-to-cart-txt {
        margin-left:11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16,8px;
        width: 72px;
        height: 17px;
        top: -5px;
        position: relative
    }
    
    .products-items:hover .add-to-cart {
        display: block;
    }
    
    .product-img {
        width: 360px;
        height: 420px;
    }
    
    .product-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15.6px;
        line-height: 13px;
        color:black;
        padding-left: 18px;
    }
    
    
    .product-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19,2px;
        color: #F16D7F;
        padding-left: 18.41px;
        padding-bottom: 20px;
    }
    
    .product-all {
        width: 211px;
        height: 47px;
        border: 1px solid #FF6A6A;
        display: flex;
        justify-content: center;
        margin: 48.5px auto 95px auto;
        outline: none;
        background: none;
        color: #F26376;
    }
    
    .product-all:hover { 
        background-color: #F16D7F;
        color: #FFFFFF; 
    }
        
    .product-all__txt {
        text-align: center;
        margin-top: 14.5px;
        text-align: center;
    }
    
    .products_new_arrivals-items:hover .product-img {
        filter: brightness(45%);
        transition: all 0.7s;
    }
    
    .add-to-cart {
        transition: all 0.7s;
        display: none;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        position: absolute;
        border: 1px solid #e8e8e8;
        margin: 188px 111px;
        padding: 11px 14px 8px 13px;
        color:#e8e8e8;
    }
    
    .add-to-cart,
    .add-to-cart:active,
    .add-to-cart:focus {
        outline: none;
    }
    
    .add-to-cart-txt {
        margin-left:11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16,8px;
        width: 72px;
        height: 17px;
        top: -5px;
        position: relative
    }
    
    .products_new_arrivals-items:hover .add-to-cart {
            display: block;
    }
    
    .feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color:#222224;
        padding: 48px 204px 48px 204px;
    }
    
    .feature__item {
        width: 360px;
        height: 164px;
    
    }
    
    .feature__heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        margin-bottom: 16px;
        margin-top: 20px;
    }
    
    .feature__subheading {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        width: 320px;
    }
    .frame {
        min-width: 768px;
        height: 693px;
        background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/Layer41.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .subscribe-info {
        width: 359.45px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 53px;
    }
    
    .foto {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    
    .subscribe-text {
        font-size: 20px;
        text-align: center;
        color: #222224;
        width: 360px;
    }
    
    .subscribe-email {
        width: 557px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 140px;
    }
    
    .subscribe-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #222224;
    }
    
    .subscribe-subtitle {
        text-transform: uppercase;
        font-size: 18px;
        color: #222224;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .subscribe-form {
        box-sizing: border-box;
    }
    
    .subcribe-text {
        padding: 7px 60px 7px 40px;
        border-radius: 40px 0 0 40px;
        border: none;
        background: #E1E1E1;
        height: 49px;
    }
    
    .Subscribe-button {
        height: 49px;
        padding: 7px 20px 7px 25px;
        border-radius: 0 40px 40px 0;
        border: none;
        background: #F16D7F;
        color: white;
        margin-left: -5px;
        cursor: pointer;
    }
    .footer-main {
        min-width: 768px;
        height: 79px;
        display: flex;
        justify-content: space-between;
        background: #222224;
        align-items: center;
        padding: 30px 30px 30px 30px;
    }
    .header-catalog {
        background-color: #F8F3F4;
        width: 768px;
        height: 148px;
        padding: 59px 16px;
        background: #F8F3F4;
    }
    
    
    .filter_products {
        box-sizing: border-box;
        /* padding: 51px 16px; */
        display: flex;
        align-items: flex-end;
        width: 100%;
    }
    .products_new_arrivals {
        width: 748px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products_new_arrivals-items:last-child {
        display: none;
    }
    .breadcrumb {
        padding: 10px 67px;
        list-style: none;
        text-transform: uppercase;
    }
    .product-slider {
        min-height: 777px;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        background: #F7F7F7;
        box-sizing: border-box;
    }
    .product-desc-wrp {
        width: 768px;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -65px;
        z-index: 1;
        background: #FFFFFF;
    }

    .products_new_arrivals_product {
        width: 768px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        margin-bottom: 128px;
    }
    .product-desc-slider {
        box-sizing: border-box;
        width: 768px;
        height: 601px;
    }
    .header-cart {
        background-color: #F8F3F4;
        width: 768px;
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: #F8F3F4;
    }
    .cart {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 96px 0 128px 0;
        height: 1110px;
    }
    .cart-buy {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 60px;
        width: 100%;
        height: 300px;
    }

    .cart-items-btns {
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 40px;
    }



    
    .cart-items{
        margin: 0 auto;
    }
    .cart-buy-form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        height: 272px;
    }
    .cart-buy-total {
        box-sizing: border-box;
        background-color: #F5F3F3;
        padding: 39px 34px 42px 44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 360px;
        height: 272px;
    }
    .registration-info-p {
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        list-style-type: none;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .registration-info-offer {
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        list-style-type: none;
    }

    .registration {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        padding: 15px 15px;
        margin-top: 40px;
    }
    .registration-info {
        width: 650px;
        box-sizing: border-box;
        padding: 15px;
    }
    .registration-form {
        box-sizing: border-box;
        width: 360px;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }
    .registration-info-title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000;
    }

}

@media(max-width:480px){
    .padding-site {
        padding: 0 auto;
    }
    
    .main-page {
        margin: 0 auto; 
        width: 480px;
    } 
    .page-navbar {
        display: flex;
        background-color: #222222;
        width: 480px;
        height: 75px;
    }
    .account-btn,
    .cart-btn{
        display: none;
    }
    .preview{
        width: 480px;
        height: 363px;
    }
    .preview-img{
        display: none;
    }
    .name-of-shop {
        min-width: 283px;
        min-height: 78px;
        color: #222222;
        padding-left: 16px;
        text-transform: uppercase;
        
    }
    
    .border {
        width: 12px;
        height: 92px;
        background-color: #F16D7F;
        padding-left: 15px;
        margin-left: 88px;
    }
    
    .text-pink {
        color: #F16D7F;
        padding-left: 5px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        
    }
    
    .brand { 
        margin: 0 auto;
        font-size: 44px;
        font-style: normal;
        font-family: Lato;
        
    }
    p {
        margin: 0 auto;
        float: left;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }
    .offer {
        width: 480px;
        height: 1326px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .offer__women {
        width: 400px;
        height: 289px;
        position: relative;
        margin: 0 auto;
        
    }
    
    .offer__men {
        width: 400px;
        height: 289px;
        position: relative;
        margin: 0 auto;
    }
    
    .offer__kids {
        width: 400px;
        height: 289px;
        position: relative;
        margin: 0 auto;
    }
    
    .offer__accesories {
        width: 400px;
        /* height: 300px; */
        /* margin-top: 20px; */
        position: relative;
        margin: 0 auto;
    }
    .offer-img-mini{
        width: 400px;
     
    }
    .offer-img-big{
        width: 400px;
        height: 111px;
    }
    .filter {
        z-index: 1;
        position: absolute;
        background: rgba(33, 22, 22, 0.7);
        width: 400px;
        height: 289px;
    }
    
    .filter__accesories {
        z-index: 1; 
        position: absolute;
        background: rgba(33, 22, 22, 0.7);
        width: 400px;
        height: 111px;
    }
    
    .one-lvl {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .two-lvl {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 19px;
        text-align: center;
        color: #F16D7F;
    }
    .description {
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 150px;
    }
    
    .description__accesories {
        position: absolute;
        z-index: 2;
        top: 33px;
        left: 177px;
        display: flex;
        flex-direction: column;
    }
    .products {
        width: 480px;
        min-height: 4500px;
        margin: 96px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 60px;
        margin: 0 auto;
    }
    
    .heading {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 73px;
    }
    
    .heading-title {
        min-width: 182px;
        height: 36px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        color:#222222;
    }
    
    .heading-subtitle {
        min-width: 336px;
        height: 17px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16.8px;
        color:#9F9F9F;
        margin-top: 6px;
    }
    
    .products-items {
        width: 360px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* .products_new_arrivals-items {
        width: 360px;
        height: 581px;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    } */
    
    
    .product-img {
        width: 360px;
        height: 420px;
    }
    
    .product-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15.6px;
        line-height: 13px;
        color:black;
        padding-left: 18px;
        text-transform: uppercase;
        margin-top: 12px;
    }
    
    .product-desc {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16.8px;
        color: #5d5d5d;
        padding-left:16.46px;
        width: 314.74px;
        height: 51px;
        margin-top: 12px;
        margin-bottom: 18px;
    }
    
    .product-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19,2px;
        color: #F16D7F;
        padding-left: 18.41px;
        padding-bottom: 20px;
    }
    
    .product-all {
        width: 211px;
        height: 47px;
        border: 1px solid #FF6A6A;
        display: flex;
        justify-content: center;
        margin: 48.5px auto 95px auto;
        outline: none;
        background: none;
        color: #F26376;
    }
    
    .product-all:hover { 
        background-color: #F16D7F;
        color: #FFFFFF; 
    }
        
    .product-all__txt {
        text-align: center;
        margin-top: 14.5px;
        text-align: center;
    }
    
    
    .products-items:hover .product-img {
        filter: brightness(45%);
        transition: all 0.7s;
    }
    
    .add-to-cart {
        transition: all 0.7s;
        display: none;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        position: absolute;
        border: 1px solid #e8e8e8;
        margin: 188px 111px;
        padding: 11px 14px 8px 13px;
        color:#e8e8e8;
    }
    
    .add-to-cart,
    .add-to-cart:active,
    .add-to-cart:focus {
        outline: none;
    }
    
    .add-to-cart-txt {
        margin-left:11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16,8px;
        width: 72px;
        height: 17px;
        top: -5px;
        position: relative
    }
    
    .products-items:hover .add-to-cart {
        display: block;
    }
    
    .product-img {
        width: 360px;
        height: 420px;
    }
    
    .product-heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 15.6px;
        line-height: 13px;
        color:black;
        padding-left: 18px;
    }
    
    
    .product-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19,2px;
        color: #F16D7F;
        padding-left: 18.41px;
        padding-bottom: 20px;
    }
    
    .product-all {
        width: 211px;
        height: 47px;
        border: 1px solid #FF6A6A;
        display: flex;
        justify-content: center;
        margin: 48.5px auto 95px auto;
        outline: none;
        background: none;
        color: #F26376;
    }
    
    .product-all:hover { 
        background-color: #F16D7F;
        color: #FFFFFF; 
    }
        
    .product-all__txt {
        text-align: center;
        margin-top: 14.5px;
    }
    
    .products_new_arrivals-items:hover .product-img {
        filter: brightness(45%);
        transition: all 0.7s;
    }
    
    .add-to-cart {
        transition: all 0.7s;
        display: none;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        background-color: transparent;
        position: absolute;
        border: 1px solid #e8e8e8;
        margin: 188px 111px;
        padding: 11px 14px 8px 13px;
        color:#e8e8e8;
    }
    
    .add-to-cart,
    .add-to-cart:active,
    .add-to-cart:focus {
        outline: none;
    }
    
    .add-to-cart-txt {
        margin-left:11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16,8px;
        width: 72px;
        height: 17px;
        top: -5px;
        position: relative
    }
    
    .products_new_arrivals-items:hover .add-to-cart {
            display: block;
    }
    .feature {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color:#222224;
        padding: 48px 70px;
    }
    
    .feature__item {
        width: 360px;
        height: 164px;
    
    }
    
    .feature__heading {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        margin-bottom: 16px;
        margin-top: 20px;
    }
    
    .feature__subheading {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        width: 320px;
    }
    .frame {
        min-width: 480px;
        height: 693px;
        background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/Layer41.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .subscribe-info {
        width: 359.45px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 53px;
    }
    
    .foto {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    
    .subscribe-text {
        font-size: 20px;
        text-align: center;
        color: #222224;
        width: 360px;
    }
    
    .subscribe-email {
        width: 557px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 140px;
    }
    
    .subscribe-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #222224;
    }
    
    .subscribe-subtitle {
        text-transform: uppercase;
        font-size: 18px;
        color: #222224;
        text-align: center;
        margin-bottom: 32px;
    }
    
    .subscribe-form {
        box-sizing: border-box;
    }
    
    .subcribe-text {
        padding: 7px 60px 7px 40px;
        border-radius: 40px 0 0 40px;
        border: none;
        background: #E1E1E1;
        height: 49px;
    }
    
    .Subscribe-button {
        height: 49px;
        padding: 7px 20px 7px 25px;
        border-radius: 0 40px 40px 0;
        border: none;
        background: #F16D7F;
        color: white;
        margin-left: -5px;
        cursor: pointer;
    }
    .footer-main {
        min-width: 480px;
        height: 150px;
        display: flex;
        flex-direction: column-reverse;
        background: #222224;
        align-items: center;
    }

    .header-catalog {
        background-color: #F8F3F4;
        width: 480px;
        height: 148px;
        padding: 24px 31px;
        background: #F8F3F4;
        display: flex;
        flex-direction: column;
    }
    
    
    .filter_products {
        box-sizing: border-box;
        /* padding: 51px 16px; */
        display: flex;
        align-items: flex-end;
        width: 100%;
    }
    .products_new_arrivals {
        width: 480px;
        height: 5100px;
        /* padding: 8px 0 16px; */

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products_new_arrivals-items:nth-child(10) {
        display: none;
    }
    .filter_products {
        box-sizing: border-box;
        /* padding: 15px 0 34px 0; */
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .filter-form {
       padding: 15px 15px;
       margin: 0;
    }
    .filter-btn {
        padding: 0;
        display: flex;
        border: none;
        background: transparent;
        align-items: center;
    }
    .catalog-slider {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 45px 40px;
        margin: 0 auto;
    }
    .filter-btn-txt{
        display: none;
    }
    .filter-btn-svg {
        fill: #000;
        margin-left: 11px;
        width: 40px;
        height: 50px;
    }
    .product-desc-wrp {
        width: 480px;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -65px;
        z-index: 1;
        background: #FFFFFF;
    }

    .products_new_arrivals_product {
        width: 480px;
        height: 1228px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
       
    }
    .product-desc-slider {
        box-sizing: border-box;
        width: 480px;
        height: 601px;
    }
    .product-slider {
        width: 480px;
        min-height: 777px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F7F7F7;
        box-sizing: border-box;
    }
    .product-img-slider {
        width: 480px;
        height: 500px;
    }
    .desc-p {
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
        width: 326px;
    }

    .item {
        display: flex;
        box-shadow: 17px 19px 24px rgb(0 0 0 / 13%);
        width: 480px;
    }
    .cart {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 0 0 50px 0;
        height: 1500px;
    }
    .cart-items-btns {
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 5px;
    }
    .cart-buy {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 60px;
        width: 100%;
        /* height: 600px; */
        margin: 0 auto;
    }
    .cart-buy-form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        width: 430px;
        height: 272px;
    }

    .cart-buy-total {
        box-sizing: border-box;
        background-color: #F5F3F3;
        padding: 39px 34px 42px 44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 430px;
        height: 272px;
    }

    .header-cart {
        background-color: #F8F3F4;
        width: 480px;
        height: 148px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        padding: 50px;
        background: #F8F3F4;
    }

    .registration-info-p {
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        list-style-type: none;
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .registration {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px 15px;
        margin-top: 40px;
    }
}