@font-face{
    font-family:'Lato';
    src: url("Lato/Lato-Black.woff") format('woff');
    font-weight: 300;

}

@font-face{
    font-family:'Lato';
    src: url("Lato/Lato-Regular.woff") format('woff');
    font-weight: 400;
}

@font-face{
    font-family:'Lato';
    src: url("Lato/Lato-Bold.woff") format('woff');
    font-weight: 700;
}

@font-face{
    font-family:'Lato';
    src: url("Lato/Lato-Regular.woff") format('woff'),
         url("Lato/Lato-Regular.woff2");
    font-weight: 900;
}
